{% extends "aa_trello/base.html" %}
{% load i18n %}

{% block page_title %}{% trans "Trello Starter" %}{% endblock %}

{% block aa_trello_content %}
<div class="row">
    <div class="col-12">
        <div class="card shadow-sm mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h4 class="card-title mb-0">{% trans "AA Trello Skeleton" %}</h4>
            </div>
            <div class="card-body">
                <p class="card-text">
                    {% trans "Welcome to your new Alliance Auth app skeleton." %}
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
